*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #f2f2f2;
    position: relative;
}
.conteiner{
    position: fixed;
    top: 0;
    left: 0;
    max-width:260px;
    height: 690px;
    z-index: 1000;
    background-color: rgb(7, 0, 39);
    border-radius:0px 15px 15px 0;
    overflow-y: auto;

    scrollbar-width: none;
    /* transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s ease; */
}
.conteiner-img{
    height: 100px;
    padding: 0px 0px 0 70px;
}
/* LI */
nav{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}
li{
    list-style: none;
    margin:10px 60px;
    font-size: 16.7px;
    font-weight: 500;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
.conteiner-iconos{
    position: relative;  
    width: 100%;
    height: 62px;
    justify-content: center;
}
.iconos{
    position: absolute;
    padding-left: 23px;
    transform: translateY(-150%);
    height: 23px;
}
.conteiner-iconos:hover{
    background-color: rgba(16, 0, 96, 0.754);
    padding-left: 4px;
    border-left: 2px solid #ffffffd8;
    transition: 0.3s;
}

/* barra superior */
.top-bar {
    display: flex;
    position: fixed;
    top:0;
    left: 238px;
    background-color: rgb(10, 2, 42);
    justify-content: space-between;
    align-items: center;
    width:82.2% ;
    padding: 15px 30px;
    height: 60px;
    z-index: 999;
}
.salida{
    border: 2px solid #d4d4d4df;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
}
.salida:hover{
    background-color: #fdfcfc82 ;
    color: rgb(255, 255, 255);
}
label{
    color: #fff;
    font-size: 40px;
    z-index: 2000;
}

/* main */
main{
    width: 81%;
    height: 100%;
    margin: 39px 4px 0 260px;
}